<script type="text/javascript" src="/scripts/navPath.js"></script>

<nav>
  <a id=line> </a>
  <a href="/" id='nav-title'><span id="nav">Pokéxchange</span></a>
  <a id="tagline">Gotta collect it all!</a>
  <div id="links">
    <a id="user">Welcome, ________!</a>
    <div>
      <a href="/messages">Inbox</a>
      <a href="/my_listings">Manage Listings</a>
      <a href="/listings/new">Create New Listing</a>
      <a href="/logout">Login/Logout</a>
    </div>
  </div>
</nav>
