    <!-- Side navigation -->
    <div class="sidenav">
      <a class="header">Locations</a>
        <ul>
        <li><a href="/cities/vancouver">Vancouver</a></li>
        <li><a href="/cities/montreal">Montreal</a></li>
        <li><a href="/cities/toronto">Toronto</a></li>
        <li><a href="/cities/calgary">Calgary</a></li>
        <li><a href="/cities/victoria">Victoria</a></li>
    </ul>
      <a class="header">Categories</a>
          <ul>
          <li><a href="/categories/cards">Cards</a></li>
          <li><a href="/categories/video-games">Video Games</a></li>
          <li><a href="/categories/clothing">Clothing</a></li>
          <li><a href="/categories/toys">Toys</a></li>
          <li><a href="/categories/plushies">Plushies</a></li>
          <li><a href="/categories/movies">Movies</a></li>
          <li><a href="/categories/accessories">Accessories</a></li>
          <li><a href="/categories/other">¯\_(ツ)_/¯</a></li>
        </ul>
      <a class="header">Favourites</a>
        <ul>
          <li><a href="my-favourites">All Favourites</a></li>
        </ul>
      </div>
