<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_nav') %>
  <%- include('partials/_side-nav') %>

  <!-- Page content -->
  <main class="container" id="create-listing">
    <div id="selling-header">What're you selling?</div>
    <section id="listing-info">
      <form id="new-listing" method="POST" action="/api/listings/manage" style='height: 320px;'>
        <label for="title">Title:
          <input type="text" name="title">
        </label>
        <label for="imgUrl">Image URL:
          <input type="text" name="imgUrl" value="http://">
        </label>
        <label for="price">Price:
          <input type="text" name="price" value="$0.00">
        </label>
        <label for="description">Description
          <textarea type="text" name="description" stlye='height: 200px; width: 500px;'></textarea>
        </label>
        <label for="category">Category:
          <select name="category">
            <option>Accessories</option>
            <option>Cards</option>
            <option>Clothing</option>
            <option>Movies</option>
            <option>Plushies</option>
            <option>Toys</option>
            <option>Video Games</option>
            <option>Other</option>
          </select></label>
        <label for="city">City:
          <select name="city">
            <option>Calgary</option>
            <option>Montreal</option>
            <option>Toronto</option>
            <option>Vancouver</option>
            <option>Victoria</option>
          </select></label>
        <label for="condition">Condition:
          <select name=' condition' style>
            <option>BNIB</option>
            <option>CIB</option>
            <option>Like New</option>
            <option>Good</option>
            <option>Well-Loved</option>
          </select></label>
        <button type='submit'>Create</button>
      </form>
    </section>
  </main>
</body>

</html>
