<!DOCTYPE html>
<html lang="en">

<head>
  <title>Manage Listings</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_nav') %>
  <%- include('partials/_side-nav') %>

  <!-- Page content -->
  <main class="container">

    <section id="recent">
      <a id="recent-header">Your Stuff</a>
      <article class="listing">
        <div class="img-date">
          <img src="/resources/backpack.png" />
          <a>Posted Aug 24, 2020</a>
        </div>
        <div class="summary">
          <p>Pokémon Backpack</p>
          <p>$50.00</p>
          <p>Vancouver</p>
          <p>
            <i class="fa fa-heart" id="love"></i>
          </p>
        </div>
      </article>
      <article class="listing">
        <div class="img-date">
          <img src="/resources/plushies.jpg" />
          <a>Posted Aug 23, 2020</a>
        </div>
        <div class="summary">
          <p>Pokémon Plushies</p>
          <p>$30.00</p>
          <p>Victoria</p>
          <p>
            <i class="loved fa fa-heart" id="love"></i>
          </p>
        </div>
      </article>
      <article class="listing">
        <div class="img-date">
          <img src="/resources/funko.jpeg" />
          <a>Posted Aug 22, 2020</a>
        </div>
        <div class="summary">
          <p>Assorted Funko Pops</p>
          <p>$20.00</p>
          <p>Montreal</p>
          <p>
            <i class="fa fa-heart" id="love"></i>
          </p>
        </div>
      </article>
    </section>
  </main>

</body>

</html>
